<div class="col-12">
  <div class="title_pass" style="margin-bottom: 80px;">
    EDIT&nbsp;{{(pass_type == "promo") ? "COMPLEMENTARY" : (pass_type.toUpperCase())}}&nbsp;PASS
  </div>
  <div class="col-12">
    <div class="child_title" style="margin-bottom: 50px; display:flex;">
      <div style="width: 120px;">START DATE:</div> &nbsp;&nbsp;&nbsp;{{start_date}}
    </div>
    <div class="child_title" style="margin-bottom: 50px; display:flex;">
      <div style="width: 120px; margin-top: 7px;">EXPIRE DATE:</div> &nbsp;&nbsp;&nbsp;<md2-datepicker style="width:200px;" [(ngModel)]="expire_date"  format="YYYY/MM/DD" type="date"></md2-datepicker>
    </div>
    <div class="child_title" style="margin-bottom: 50px; display:flex;">
      <div style="width: 120px;">REMAINING:</div> &nbsp;&nbsp;&nbsp;{{quantity}}
    </div>
    <div class="child_title" style="margin-bottom: 50px; display: flex;">
      <label for="category_terminate" style="margin-right: 30px; display: flex;">
          <input type="radio" id="category_terminate" #terminate name="status" value="add"  style="font-size: 15px; margin-right: 20px; margin-top: 8px;" (click)="status = terminate.value;">
          <div style="margin-top: 7px; width: 70px;">ADD:</div>
      </label>
      
      <angular2-number-picker [min]="1" [step]="1" (onChange)="add_quantity($event)" style="width: 200px;"></angular2-number-picker>
    </div>
    <div class="child_title" style="margin-bottom: 50px; display: flex;">
      <label for="category_freeze" style="margin-right: 30px; display: flex;">
          <input type="radio" id="category_freeze" #freeze name="status" value="remove"  style="font-size: 15px; margin-right: 20px; margin-top: 8px;" (click)="status = freeze.value;">
          <div style="margin-top: 7px; width: 70px;">REMOVE:</div>
      </label>
      <angular2-number-picker [min]="1" [max]="quantity" [step]="1" (onChange)="remove_quantity($event)" style="width: 200px;"></angular2-number-picker>
    </div>

    <div class="col-12 margin-bottom30" style="padding: 0px; display: flex;">
      <div class="child_title" style="margin-right: 30px;">NOTE:</div>
      <div style="color: black; font-weight: bold; width: 260px;">
        <textarea  class="edit" [(ngModel)]="note" style="height: 80px;" placeholder="Please insert note!"></textarea>
      </div>
    </div>
  </div>
</div>
<div class="col-12">  
  <button (click)="save()" class="btn_add" style="float: right;">SAVE</button>
</div>

<modal id="login_modal">
    <div class="modal">
        <div class="modal-body">
            <div class="modal-titlleBar">
              LOG IN
              <button (click)="closeModal('login_modal');">X</button>
            </div>
            <div class="modal-main" style="height: 185px;">
              <!-- <input type="password" class="col-12" style="height: 30px; margin-top:50px;" [(ngModel)]="password" placeholder="Password" > -->
  
              <form class="wh100" (ngSubmit)="login()" #myForm="ngForm" autocomplete="nope">
                  
                  <div class="form-group">
                      <label for="input-password" >Password</label>
                      <input name="password" [(ngModel)]="customer_password" type="password" class="form-control" placeholder="Password" #password="ngModel" [class.form-control-danger]="password.invalid && password.touched" [minlength]="6" [maxlength]="60">
                      <small class="form-text error" *ngIf="password.invalid && password.touched && password.errors?.required">Password is required!</small>
                      <small class="form-text error" *ngIf="password.invalid && password.touched && (password.errors?.minlength || password.errors?.maxlength)">Password should contains from 6 to 60 characters</small>
                  </div>
  
                  <div class="form-group row" style="margin:0px;">
                      <button [disabled]="(password.errors?.minlength || password.errors?.maxlength) || (customer_password.length == 0)" type="submit" class="btn btn-hero-primary btn-demo margin-auto"> Sign In</button>
                      <!-- <button type="submit" class="btn btn-primary margin-auto">Sign in</button> -->
                  </div>
              </form>
            </div>
            
        </div>
    </div>
    <div class="modal-background"></div>
  </modal>